.hero-img {
  width: 100vw; /* Full viewport width */
  max-height: 920px; /* Max height of 920px */
  height: 85vh; /* Full viewport height */
  object-fit: cover; /* Keeps image aspect ratio and covers area */
  // opacity: 82%;
}

.hero-title {
  font-family: Merriweather;
  font-size: 3em;
  font-weight: 700;
  line-height: 67.84px;
}

.hero-label {
  font-weight: 500;
  line-height: 22.99px;
}

.hero-link:not(:first-of-type) {
  margin-left: 20px;
}
.arrows-container {
  background-color: #414b56;
  border-radius: 20px;
  height: 40px;
  width: 42px;
}
.arrows-scroll {
  position: relative;
  top: 15px;
  left: 11px;
}
.arrows-scroll > svg {
  stroke: #ffffff;
  position: relative;
  margin-top: -3px;
}
.arrows-scroll:hover > svg {
  stroke: #ff9900;
}
.arrows-scroll:hover > svg:first-child {
  visibility: hidden;
}
.arrows-scroll:hover > svg:last-child {
  visibility: hidden;
}

@media (max-width: 600px) {
  /* Styles for phone viewport */
  body {
      font-size: 14px;
  }

.hero-content{
  display: table;
  width: 85%;
  position: absolute;
  top:12%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-img img {
  height: 100vh; /* Full viewport height */
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  background: linear-gradient(to top, #251600, transparent);
  pointer-events: none; /* makes sure the overlay doesn't interfere with clicking */
}
.hero-link{
  display: block;
  // margin:0px !important;
}
.hero-link:not(:first-of-type) {
  margin-left: 0px;
  margin-top: 1em;
}
.arrows-container{
  margin-top: 2em;
  left: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}
.hero-img{
  display: none;
}
.hero-img-small{
  display: block;
}
  /* Add additional styles as needed */
}
