.section {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}
.section:not(:first-child) {
  margin-top: 2em;
}

.regular {
  color: #6a6a6a;
}
.regular .circle-img {
  width: 18em;
  height: 18em;
  border-radius: 50%;
  object-fit: cover;
}
.regular-right {
  display: grid;
}
.regular-right .section-content {
  margin-left: 20em;
}
.section-content {
  width: 68%;
}
.img-container {
  position: absolute;
}
.icon-container {
  background-color: #414b56;
  border-radius: 110px;
  vertical-align: top;
  height: 60px;
  width: 60px;
}
.img-container .icon-container {
  border: 2px solid #ffffff;
  position: absolute;
  bottom: 5px;
  right: 0;
  height: 108px;
  width: 108px;
}

.section-icon {
  margin: 20px 0px 0px 18px;
}
.section-label {
  font-weight: bolder;
  font-size: 12px;
  letter-spacing: 0.19em;
}
.section h2 {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 32px;
  display: block;
}
.link-label {
  font-family: Merriweather;
  font-weight: 700;
}

.fullColor {
  width: 100%;
  text-align: center;
}

.fullColor .section-title {
  display: block;
}

.fullColor .section-content {
  margin-top: 2em;
}

.fullColor .section-label {
  color: #9cb8c3;
  margin-top: 0.5em;
}

li {
  margin-left: 20px;
}

.fullColor .img-container img {
  //   position: relative;
  position: absolute;
  z-index: 10;
  width: 40em;
  height: 40em;
}

@media (max-width: 600px) {
  .img-container {
    left: 0;
    width: 100vm;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }
  .regular .circle-img {
    border-radius: 0px;
    // width: 100vm;
    width: 50em;

    // max-height: 400px;
  }
  .img-container .icon-container {
    border-radius: 99px 0px 0px 99px;
    top: 24px;
    right: 0;
  }
  .section-content {
    margin-top: 275px;
  }
  .regular,
  .section-content {
    width: 95%;
  }

  .regular-right .section-content {
    margin-left: 0em;
  }
  .fullColor {
    text-align: left;
    
  }
  .fullColor
  .section-content {
    display: block;
    width: 95%;
    margin: 0px auto;
    padding-top: 2em;
  }
  .fullColor .img-container img {
    display: none;
  }
  .additional-links li,
  li a {
    display: block;
    margin-top: 1em;
  }
  .section-link svg{
    position: absolute;
    right: 2em;
  }
}
