.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}
.nav-link {
  margin-left: 86px;
  font-family: Merriweather;
  font-size: 19px;
  font-weight: 700;
  border-radius: 12px;
  padding: 10px 20px;
}
